body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    width: 500px;
    height: 500px;
    background-color: lightcoral;
}

.two {
    background-color: lightblue;
}

.three {
    background-color: lightgreen;
}