body {
    margin: 0;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;

}

ul {
    display: flex;
    width: 600px;
}

li {
    flex: 1 1 300px;
    background-color: red;
    list-style: none;
    margin-right: 15px;
}