body {
    display: flex;
    margin: 0;
    background-color: black;
    color: white;
}

.columns {
    display: flex;
    background-color: paleturquoise;
    width: 800px;
}

.column {
    flex-shrink: 1;
    background-color: palevioletred;
    border: 1px solid green;
}