.dummy {
    font-size: calc(1rem + 0.3vw);
}

.title {
    font-style: italic;
    letter-spacing: 2rem;
    line-height: 20rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 10px 10px 1px black;
}